.nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none; 
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: underline;
    }
  }

// styles.sass
@use 'base'

.inverse
  background-color: base.$primary-color
  color: white